.main{
    background-color: rgb(226, 85, 85);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    border-radius: 2px;
}
.navbar .it{
    display: flex;
    justify-content:space-between;
    width: 500px;
    list-style: none;
}
.it .items{
    text-decoration: none;   
    color: black;
}
.heading h1{
    font-family: serif;
    text-align: center;
}
.heading{
    padding: 10px;
    background-color: rgb(233, 171, 171);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 650px;
}
