.body {
background-image: url(./Images/bg2.jpg);
background-size: cover;
background-repeat: no-repeat;
background-color: rgba(0, 0, 0, 0.363);
background-blend-mode: color;
}
.container{
display: flex;
min-height: 100dvh;
align-items: center;
gap: 20px;
justify-content: center;
}

.rightbox{
background-color: rgba(255, 255, 255, 0.4); 
border-radius: 10px;
border: 1px solid #fff;
display: flex;
flex-direction: column;
width: 35%;

}
.header{
text-align: center;
padding: 5%;
}
.submit{
justify-content: center;
}
.header #hello{
font-size: 30px;
font-weight: 900;
margin-top: 10%;
color: #de4b4b;
}
.header #hello2{
font-size: 15px;
margin-top: 5%;
margin-bottom: 5%;
color: #fff;
}
.username input,.password input{
width: 80%;
padding: 15px;
border: 1px solid #ccc;
border-radius: 7px;
box-sizing: border-box;
margin-left: 10%;
margin-bottom: 20px;
font-size: 15px;
}
.username input::placeholder,.password input::placeholder{
  color: #0000005b;
}
.submit input{
width: 80%;
padding: 10px;
background: #da645e;
border: none;
border-radius: 5px;
color: #fff;
cursor: pointer;
font-size: 16px;
margin-left: 10%;
margin-top: 20px;
margin-bottom: 10px;
}

.or p{
text-align: center;
color: #ffffff;

}

.create{
display: flex;
justify-content: center;
align-items: center;
margin: 20px;
margin-left: 45px;
margin-right: 45px;
margin-bottom: 15%;
height: 40px;
border: 2px solid #00000054;
border-radius: 5px;
opacity: 20px;

}
.create:hover{
background-color: #ffffff;
transition: 0.4s;
}

.create p{
color: #be3030 ;
}
.create p:hover{
  color:#be3030 ;
  transition: ease-in-out 0.7s; 
}
.or p:hover{
  color:#be3030 ;
  transition: ease-in-out 0.7s;
}
.submit input:hover{
background-color:#be3030 ;
transition: ease-in-out 0.7s;
}
p{
 color: black;
}
input::placeholder {
  color:rgb(0, 0, 0); 
}
.create a{
  text-decoration: none;
  
}